<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Aimsschool</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        @Html.ActionLink("Home", "Home", "Portal", routeValues: null, htmlAttributes: null);
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-table"></i>Admin <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                @Html.ActionLink("Add Courses", "AddCourse", "Portal", routeValues: null, htmlAttributes: null);
                            </li>
                            <li>
                                @Html.ActionLink("Add Teacher", "AddTeacher", "Portal", routeValues: null, htmlAttributes: null);
                            </li>
                            <li>
                                @Html.ActionLink("Add Student", "AddStudent", "Portal", routeValues: null, htmlAttributes: null);
                            </li>
                            <li>
                                @Html.ActionLink("Assign Course - Student", "CourseStudent", "Portal", routeValues: null, htmlAttributes: null);
                            </li>
                            <li>
                                @Html.ActionLink("Assign Course - Teacher", "CourseTeacher", "Portal", routeValues: null, htmlAttributes: null);
                            </li>
                        </ul>

                        @*<a href="index.html"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>*@
                    </li>

                    <li>
                        @Html.ActionLink("Student List", "ListStudent", "Portal", routeValues: null, htmlAttributes: null);
                    </li>

                    <li>
                        @Html.ActionLink("Teacher List", "ListTeacher", "Portal", routeValues: null, htmlAttributes: null);
                    </li>

                    @*<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-table"></i>Courses <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Course One</a>
                            </li>
                            <li>
                                <a href="#">Course Two</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                    </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        @*<h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i>Dashboard
                            </li>
                        </ol>*@
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
