@model AimsSchoolMaster.Models.CourseStudentViewModel
@{
    ViewBag.Title = "Assign Course to Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CourseStudent", "Portal", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

	@Html.AntiForgeryToken()
	<h4>Assign Course.</h4>
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="container">
		<div class="form-group">
			@Html.LabelFor(m => m.CourseID, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.CourseID, new SelectList(@Model.CourseCollection, "Id", "CourseName"), "Please Select Course", new { @class = "col-md-4 btn btn-default" })
			</div>
		</div>
		<!--Select the Role Type for the User-->
		<div class="form-group">
				@Html.LabelFor(m => m.StudentID, new {@class = "col-md-2 control-label"})
				<div class="col-md-10">
					@Html.DropDownListFor(m => m.StudentID, new SelectList(@Model.StudentCollection,"Id","FullName"),"Please Select Student", new { @class = "col-md-4 btn btn-default" })
				</div>
			</div>
		<!--Ends Here-->
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-default" value="Assign" />
			</div>
		</div>
	</div>
}